@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}


/* scroll btn */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #f44336;
    background: #c3704d;
    /* background: #EC9A04; */
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    z-index: 9999;
    transition: all 0.3s ease;
}
.scroll-to-top:hover {
    /* background: #db7806; */
    background: #da6330;
    background: #383848;
}